source/PortalWebApp/target/
source/CatalogsManager/target/
source/SecurityManager/target/
source/Cuestionarios035WebApp/target/
source/PortalWebApp/bin/
source/CatalogsManager/bin/
source/SecurityManager/bin/
source/Cuestionarios035WebApp/bin/
source/PortalWebApp/.settings
source/CatalogsManager/.settings
source/SecurityManager/.settings
source/Cuestionarios035WebApp/.settings
source/PortalWebApp/.classpath
source/CatalogsManager/.classpath
source/SecurityManager/.classpath
source/Cuestionarios035WebApp/.classpath
source/PortalWebApp/.project
source/CatalogsManager/.project
source/SecurityManager/.project
source/Cuestionarios035WebApp/.project
*.metadata/
